
  <article>
    <style>      
      td, th {
        text-align: left;
        padding: 8px;
      }
      
      </style>      
      <table>
        <tr>
          <th>Judul</th>
          <th>Berkas</th>
        </tr>
        <tr>
          <td>Shinmai Renkinjutsushi no Tenpo Keiei</td>
          <td><a href="https://pomf2.lain.la/f/in4wr0xi.7z">[Noromi] Shinmai Renkin - S01E06 [FHD AAC][AEDDD790].mkv</a><br>
<a href="https://pomf2.lain.la/f/b49v3voo.7z">[Noromi] Shinmai Renkin - S01E07 [FHD AAC][2FBF4910].mkv</a><br>
<a href="https://pomf2.lain.la/f/jrqatoqt.7z">[Noromi] Shinmai Renkin - S01E08 [FHD AAC][7A9B67AB].mkv</a><br>
<a href="https://pomf2.lain.la/f/j2mt6jf.7z">[Noromi] Shinmai Renkin - S01E09 [FHD AAC][72B8C7A5].mkv</a><br>
<a href="https://pomf2.lain.la/f/sioqsy0v.7z">[Noromi] Shinmai Renkin - S01E10 [FHD AAC][210DA483].mkv</a><br>
<a href="https://pomf2.lain.la/f/fx5h23ny.7z">[Noromi] Shinmai Renkin - S01E11 [FHD AAC][825260CE].mkv</a><br>
<a href="https://pomf2.lain.la/f/y8d0w5oq.7z">[Noromi] Shinmai Renkin - S01E12 [FHD AAC][658391C3].mkv</a><br></td>
        </tr>
        <tr>
          <td>Futoku no Guild</td>
          <td><a href="https://pomf2.lain.la/f/w5buo064.7z">[Noromi] FutokuGuild - S01E02 [FHD AAC][6352A361].mkv</a><br>
<a href="https://pomf2.lain.la/f/wtrmt1v.7z">[Noromi] FutokuGuild - S01E03 [FHD AAC][88565159].mkv</a><br>
<a href="https://pomf2.lain.la/f/gwap7oo.7z">[Noromi] FutokuGuild - S01E04 [FHD AAC][A9E63D7C].mkv</a><br>
<a href="https://pomf2.lain.la/f/no74ekqb.7z">[Noromi] FutokuGuild - S01E05 [FHD AAC][19E638F2].mkv</a><br>
<a href="https://pomf2.lain.la/f/jnbsx8e.7z">[Noromi] FutokuGuild - S01E06 [FHD AAC][0FCAB224].mkv</a><br>
<a href="https://pomf2.lain.la/f/xkbdko0g.7z">[Noromi] FutokuGuild - S01E07 [FHD AAC][408E707E].mkv</a><br>
<a href="https://pomf2.lain.la/f/hsw7pl53.7z">[Noromi] FutokuGuild - S01E08 [FHD AAC][03B05F53].mkv</a><br>
<a href="https://pomf2.lain.la/f/93knao7p.7z">[Noromi] FutokuGuild - S01E09 [FHD AAC][417DB496].mkv</a><br>
<a href="https://pomf2.lain.la/f/znwgjdd6.7z">[Noromi] FutokuGuild - S01E10 [FHD AAC][18EABF03].mkv</a><br>
<a href="https://pomf2.lain.la/f/np4qni.7z">[Noromi] FutokuGuild - S01E11 [FHD AAC][82ED524D].mkv</a><br>
<a href="https://pomf2.lain.la/f/9fkqm7ni.7z">[Noromi] FutokuGuild - S01E12 [FHD AAC][F86C7854].mkv</a><br></td>
        </tr>
        <tr>
          <td>Jaku-Chara Tomozaki-kun</td>
          <td><a href="https://pomf2.lain.la/f/hge83xmg.7z">[Noromi] Tomozaki-kun - S01E01 [BD][FHD FLAC][EC44D29D].mkv</a></td>
        </tr>
        <tr>
          <td>Darling in the FranXX</td>
          <td><a href="https://pomf2.lain.la/f/z80wdl0n.7z">[Noromi] Darling in the FranXX - S01E01 [BD][FHD Opus][8FADF149].mkv</a></td>
        </tr>
      </table>
  </article>
