<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<title>{% if page.title %}{{ site.title }}: {{ page.title }}{% elsif site.title %}{{ site.title }}{% endif %}</title>
<meta charset="{{ site.encoding }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="{{ page.author | default: site.author | escape }}">
<link rel="icon" type="image/x-icon" href="https://aku.nrmi.my.id/favicon.png">
<link rel="canonical" href="{{ page.url | absolute_url }}">
<meta property="og:theme-color" content="#E611E6">
<meta name="msapplication-TileColor" content="#E611E6">
<meta name="theme-color" content="#E611E6">
<meta itemprop="name" content="{% if page.title %}{{ site.title }}: {{ page.title }}{% elsif site.title %}{{ site.title }}{% endif %}">

<meta itemprop="image" content="{% if page.image %}{{ page.image }}{% elsif site.url %}{{ site.url }}/banner.jpg{% endif %}">
<meta property="og:image" content="{% if page.image %}{{ page.image }}{% elsif site.url %}{{ site.url }}/banner.jpg{% endif %}">
<meta name="twitter:image" content="{% if page.image %}{{ page.image }}{% elsif site.url %}{{ site.url }}/banner.jpg{% endif %}">

<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% elsif site.description %}{{ site.description }}{% endif %}">
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% elsif site.description %}{{ site.description }}{% endif %}">
<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% elsif site.description %}{{ site.description }}{% endif %}">

<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<link rel="icon" href="https://aku.nrmi.my.id/favicon.png">
<meta property="og:site_name" content="{{ site.title }}">

<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% elsif site.title %}{{ site.title }}{% endif %}">
<meta name="twitter:theme-color" content="#E611E6">
<meta name="twitter:site" content="{{ site.title }}">
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
<link rel="icon" href="https://aku.nrmi.my.id/favicon.png">
<meta name="msapplication-TileImage" content="https://aku.nrmi.my.id/favicon.png">
<meta name="twitter:card" content="summary_large_image">

<script>
document.addEventListener("DOMContentLoaded", function () {
  function scrollToHash() {
    if (window.location.hash) {
      const target = document.querySelector(window.location.hash);
      if (target) {
        target.scrollIntoView({ behavior: "smooth" });
      }
    }
  }
  scrollToHash();
  window.addEventListener("load", scrollToHash);
  window.addEventListener("hashchange", scrollToHash);
});
</script>
<script id="chatBroEmbedCode">/* Chatbro Widget Embed Code Start */function ChatbroLoader(chats,async){async=!1!==async;var params={embedChatsParameters:chats instanceof Array?chats:[chats],lang:navigator.language||navigator.userLanguage,needLoadCode:'undefined'==typeof Chatbro,embedParamsVersion:localStorage.embedParamsVersion,chatbroScriptVersion:localStorage.chatbroScriptVersion},xhr=new XMLHttpRequest;xhr.withCredentials=!0,xhr.onload=function(){eval(xhr.responseText)},xhr.onerror=function(){console.error('Chatbro loading error')},xhr.open('GET','https://www.chatbro.com/embed.js?'+btoa(unescape(encodeURIComponent(JSON.stringify(params)))),async),xhr.send()}/* Chatbro Widget Embed Code End */ChatbroLoader({encodedChatId: '597Te'});</script>
<script>
document.addEventListener("DOMContentLoaded", function() {
  const images = ['1','2','3','4','5','6'];
  
  const randomImage = images[Math.floor(Math.random() * images.length)];
  
  const header = document.getElementById("header");
  if (header) {
    header.style.backgroundImage =
      `linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.6)), url('https://aku.nrmi.my.id/banner${randomImage}.jpg')`;
  } else {
    console.error("Elemen #header tidak ditemukan.");
  }
});
</script>
{% if site.show_frame %}
<link rel="stylesheet" href="{{ "/assets/css/frame.css" | relative_url }}">
{% else %}
<link rel="stylesheet" href="{{ "/assets/css/index.css" | relative_url }}">
{% endif %}
{% if page.mathjax or site.mathjax %}
<link rel="stylesheet" href="{{ "/assets/katex/katex.min.css" | relative_url }}">
<script defer src="{{ "/assets/katex/katex.min.js" | relative_url }}"></script>
<script defer src="{{ "/assets/katex/contrib/auto-render.min.js" | relative_url }}" onload="renderMathInElement(document.body)"></script>
{% endif %}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
  </style>
  
  <header id="header" style="background-size: cover;background-position: center;color: white;">
    <header>
      <a href="https://nrmi.my.id">
        <img src="https://aku.nrmi.my.id/favicon.png" style="height: 40px; margin-right: 10px; margin: 0px;">
      </a>
      <h2 style="margin-bottom: 1px;margin-top: 0px;">Noromi Works</h2>
    <p style="margin: 1px;">Kumpulan Garapan Noromi!</p>
    </header></header>

{{ content }}

</html>
