<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<title>{{ site.title | escape }}</title>
<meta charset="{{ site.encoding }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="{{ page.author | default: site.author | escape }}">
<link rel="icon" type="image/x-icon" href="https://www.noromi.web.id/favicon.ico">
<link rel="canonical" href="{{ page.url | absolute_url }}">
{% if site.show_frame %}
<link rel="stylesheet" href="{{ "/assets/css/frame.css" | relative_url }}">
{% else %}
<link rel="stylesheet" href="{{ "/assets/css/index.css" | relative_url }}">
{% endif %}
{% if page.mathjax or site.mathjax %}
<link rel="stylesheet" href="{{ "/assets/katex/katex.min.css" | relative_url }}">
<script defer src="{{ "/assets/katex/katex.min.js" | relative_url }}"></script>
<script defer src="{{ "/assets/katex/contrib/auto-render.min.js" | relative_url }}" onload="renderMathInElement(document.body)"></script>
{% endif %}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
  </style>

<header>
  <header>
    <img src="https://noromi.web.id/favicon.ico" style="height: 40px; margin-right: 10px;margin: 0px;">
    <h2 style="margin-bottom: 1px;margin-top: 0px;">Noromi Draft</h2>
  <p style="margin: 1px;">Kumpulan garapan yang gagal dirilis.</p>
  </header></header>

{{ content }}

</html>
